body{
    background-color: rgb(207, 197, 197);
}
.about_cards{
    min-height: 450px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    margin-top: 200px;
    position: relative;
    transition: all linear 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.about_cards::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 150px;
    width: 140px;
    background: url(./cards-bg01.svg);
    border-top-right-radius: 12px;
    /* opacity: 0.2; */

}
.about_cards::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 140px;
    background: url(./cards-bg02.svg);
    border-top-right-radius: 12px;
    /* opacity: 0.2; */

}
.about_content{
    width: 97%;
    height: 440px;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.about_cards:hover{
    background-color: green;
    cursor: pointer;
    transform: translateY(-10px);
    color: white;
}
.about_cards:hover::after {
    opacity: 0.2;
}
.about_cards:hover::before {
    opacity: 0.2;
}

